<div
  class="flex min-h-screen flex-col items-center justify-center bg-gray-900 text-white"
>
  <div class="px-4 py-8 text-center">
    <h2 class="text-4xl font-bold">Recuperar Contraseña</h2>
    <p class="mt-4 text-lg">
      Ingresa tu correo electrónico para recibir las instrucciones de
      recuperación.
    </p>
  </div>
  <div class="mt-8 w-full max-w-md px-4">
    <form
      [formGroup]="forgotPasswordForm"
      (ngSubmit)="onSubmit()"
      class="space-y-6"
    >
      <div>
        <label for="email" class="block text-sm font-medium text-gray-200"
          >Correo electrónico</label
        >
        <input
          type="email"
          formControlName="email"
          id="email"
          class="mt-1 block w-full rounded-md border border-gray-300 px-3 py-2 placeholder-gray-500 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
          [class.border-red-500]="
            forgotPasswordForm.get('email')?.invalid &&
            (forgotPasswordForm.get('email')?.dirty ||
              forgotPasswordForm.get('email')?.touched)
          "
          [class.placeholder-red-500]="
            forgotPasswordForm.get('email')?.invalid &&
            (forgotPasswordForm.get('email')?.dirty ||
              forgotPasswordForm.get('email')?.touched)
          "
        />
        <div
          *ngIf="
            forgotPasswordForm.get('email')?.invalid &&
            (forgotPasswordForm.get('email')?.dirty ||
              forgotPasswordForm.get('email')?.touched)
          "
          class="mt-1 text-xs text-red-500"
        >
          <span *ngIf="forgotPasswordForm.get('email')?.errors?.['required']"
            >El correo electrónico es requerido.</span
          >
          <span *ngIf="forgotPasswordForm.get('email')?.errors?.['email']"
            >Por favor, ingresa un correo electrónico válido.</span
          >
        </div>
      </div>
      <button
        type="submit"
        class="flex w-full justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
        [disabled]="forgotPasswordForm.invalid"
      >
        Enviar Instrucciones
      </button>
    </form>
  </div>
</div>
