<div class="flex flex-col items-center justify-center min-h-screen bg-gray-900 text-white">
    <!-- Hero Section -->
    <div class="text-center px-4 py-12">
        <h1 class="text-4xl font-bold sm:text-6xl md:text-7xl lg:text-8xl">Stingray Board Games</h1>
        <p class="mt-4 text-xl sm:text-2xl">Revive las noches de juego con estilo.</p>
        <a routerLink="/login" class="bg-blue-500 p-2">Iniciar sesión</a>
    </div>
    <!-- Features in the same Hero section -->
    <div class="mt-8 px-4 grid grid-cols-1 gap-4 sm:grid-cols-3 sm:gap-6">
        <div class="p-4 bg-white bg-opacity-50 rounded-lg shadow-lg backdrop-filter backdrop-blur-xl text-center text-gray-800">
            <i class="fas fa-users fa-3x"></i>
            <h2 class="text-xl font-semibold">Diversión para todos</h2>
            <p class="text-sm">Juegos que unen a las personas y crean recuerdos inolvidables.</p>
        </div>
        <div class="p-4 bg-white bg-opacity-50 rounded-lg shadow-lg backdrop-filter backdrop-blur-xl text-center text-gray-800">
            <i class="fas fa-star fa-3x"></i>
            <h2 class="text-xl font-semibold">Calidad Premium</h2>
            <p class="text-sm">Componentes de alta calidad que resisten el paso del tiempo.</p>
        </div>
        <div class="p-4 bg-white bg-opacity-50 rounded-lg shadow-lg backdrop-filter backdrop-blur-xl text-center text-gray-800">
            <i class="fas fa-brain fa-3x"></i>
            <h2 class="text-xl font-semibold">Estratégico y Divertido</h2>
            <p class="text-sm">Desafía tu mente mientras te diviertes.</p>
        </div>
    </div>
</div>

