<body class="flex flex-col min-h-screen">
  <header
    class="bg-berkeley-blue text-white flex justify-between items-center p-4"
  >
    <h1 class="text-lg font-bold">JuegosDeMesa</h1>
    <button
      class="bg-tangelo text-white px-4 py-2 rounded hover:bg-selective-yellow transition duration-300"
      routerLink="/login"
    >
      Login
    </button>
  </header>

  <!-- Sección Principal con Imagen y Descripción en Columna -->
  <section class="flex flex-col items-center justify-center mb-10 flex-grow">
    <div class="w-full max-w-4xl mx-auto">
      <h2 class="text-4xl text-picton-blue font-bold mb-3 text-center">
        Descubre Nuevos Juegos Cada Mes
      </h2>
      <p class="text-berkeley-blue mb-6 text-center">
        Únete a nuestra comunidad y disfruta de los mejores juegos de mesa
        seleccionados especialmente para ti.
      </p>

      <!-- Cards de características una al lado de otra -->
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        <div class="bg-apple-green text-berkeley-blue p-4 rounded">
          <h3 class="font-bold">Diversión Garantizada</h3>
          <p>
            Juegos que te harán pasar horas de entretenimiento con familia y
            amigos.
          </p>
        </div>
        <div class="bg-selective-yellow text-berkeley-blue p-4 rounded">
          <h3 class="font-bold">Para Todas las Edades</h3>
          <p>Encuentra juegos perfectos para cualquier grupo de edad.</p>
        </div>
        <div class="bg-picton-blue text-white p-4 rounded">
          <h3 class="font-bold">Calidad Premium</h3>
          <p>
            Juegos fabricados con los mejores materiales para una mayor
            durabilidad.
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer siempre al final -->
  <footer class="bg-berkeley-blue text-white text-center p-4 w-full">
    © 2024 JuegosDeMesa - Todos los derechos reservados.
  </footer>
</body>
