<app-layout></app-layout>
<div class="container mx-auto">
  <div
    *ngIf="!isLoading && boardgame"
    class="flex flex-col items-center w-full space-y-4 lg:flex-row lg:gap-8 lg:space-y-0"
  >
    <!-- Container para la foto y el título -->
    <div class="relative w-full mx-auto lg:w-1/4">
      <!-- Contenedor para centrar la imagen verticalmente -->
      <div class="flex items-end justify-center mt-4">
        <img
          [src]="boardgame.mainPhoto"
          alt="Boardgame image"
          class="px-8 rounded-lg lg:h-64 lg:w-full"
        />
      </div>
    </div>

    <div class="flex flex-col w-full mx-4 lg:w-3/4">
      <div
        class="flex flex-col items-center justify-between mb-8 lg:mb-2 lg:flex-row"
      >
        <div class="flex flex-col lg:flex-row lg:items-center gap-4">
          <h1 class="text-3xl font-bold text-slate-700">
            {{ boardgame.title }}
          </h1>
          <p
            *ngIf="user?.role === 'Admin'"
            class="text-indigo-600 bg-indigo-100 p-2 font-semibold rounded-md text-center"
          >
            {{ boardgame.code }}
          </p>
        </div>

        <div
          *ngIf="boardgame.status === 'Available'"
          class="flex items-center p-2 mt-2 font-semibold text-green-600 bg-green-200 rounded-md lg:mt-0"
        >
          <i class="mr-2 font-semibold pi pi-check"></i>
          <span>Disponible</span>
        </div>
        <div
          *ngIf="boardgame.status !== 'Available'"
          class="flex items-center p-2 mt-2 font-semibold text-red-500 bg-red-200 rounded-md lg:mt-0"
        >
          <i class="mr-2 pi pi-times"></i>
          <span>No disponible</span>
        </div>
      </div>
      <div
        class="flex flex-wrap justify-center gap-2 mt-2 md:mt-0 lg:justify-between"
      >
        <p-chip
          *ngFor="let tag of boardgame.tags"
          [label]="tag"
          class="max-w-full"
          styleClass="primary-chip"
        ></p-chip>
      </div>
      <div class="px-4 py-2 my-8 text-justify bg-gray-100 rounded-lg shadow-lg">
        <h2
          class="text-xl font-semibold text-center lg:text-start text-slate-700"
        >
          Descripción
        </h2>
        <p class="leading-relaxed text-slate-600 font-14">
          {{ boardgame.description }}
        </p>
      </div>
      <div
        *ngIf="user?.role === 'User'"
        class="flex justify-center gap-4 py-2 lg:justify-end"
      >
        <button
          *ngIf="!isFavorite"
          pButton
          type="button"
          icon="pi pi-star-fill"
          class="p-button-warning"
          label="Añadir a Favoritos"
          (click)="addToFavorites()"
        ></button>
        <button
          *ngIf="isFavorite"
          pButton
          type="button"
          icon="pi pi-times"
          class="p-button-danger"
          label="Eliminar de Favoritos"
          (click)="removeFromFavorites()"
        ></button>
        <button
          *ngIf="boardgame.status === 'Available'"
          pButton
          type="button"
          icon="pi pi-calendar"
          label="Reservar"
          class="p-button-primary"
        ></button>
      </div>
    </div>
  </div>
</div>

<div class="px-8 py-4">
  <h2 class="text-center uppercase text-slate-700">Galería de Imágenes</h2>
  <p-carousel
    [value]="boardgame?.photoGallery"
    [numVisible]="3"
    [responsiveOptions]="responsiveOptions"
    [showIndicators]="false"
  >
    <ng-template pTemplate="item" let-photo>
      <div class="flex justify-center p-2 mx-auto">
        <img
          [src]="photo"
          alt="Gallery image"
          class="object-cover w-full h-64 rounded-lg"
        />
      </div>
    </ng-template>

    <!-- Plantilla para ocultar el icono de 'previous' en pantallas grandes -->
    <ng-template pTemplate="previousicon">
      <i class="block pi pi-chevron-left md:hidden"></i>
    </ng-template>

    <!-- Plantilla para ocultar el icono de 'next' en pantallas grandes -->
    <ng-template pTemplate="nexticon">
      <i class="block pi pi-chevron-right md:hidden"></i>
    </ng-template>
  </p-carousel>
</div>

<p-toast></p-toast>

<div *ngIf="error" class="text-center text-red-500">
  {{ error }}
</div>
