<app-layout></app-layout>

<div *ngIf="isLoading" class="flex items-center justify-center w-full h-full">
  <p-progressSpinner ariaLabel="loading"></p-progressSpinner>
</div>

<div *ngIf="!isLoading && boardgame">
  <h1>{{ boardgame.title }}</h1>
  <img
    [src]="boardgame.mainPhoto"
    alt="Boardgame image"
    class="w-full h-auto"
  />
  <p>{{ boardgame.description }}</p>
  <!-- Agrega más detalles según sea necesario -->
</div>

<div *ngIf="error" class="text-center text-red-500">
  {{ error }}
</div>
