<app-layout></app-layout>

<div *ngIf="isLoading" class="flex h-64 items-center justify-center">
  <p-progressSpinner></p-progressSpinner>
</div>

<div *ngIf="!isLoading" class="container mx-auto flex flex-col gap-8">
  <div
    class="mt-4 flex flex-col items-center justify-center lg:flex-row lg:justify-between"
  >
    <h2
      class="mb-4 text-center text-2xl font-bold uppercase text-slate-700 lg:mb-0"
    >
      Administración de Reservas
    </h2>

    <!-- Componente de filtrado -->
    <app-filter-reservations
      [selectedFilter]="selectedFilter"
      (filter)="applyFilter($event)"
    ></app-filter-reservations>
  </div>

  <div *ngIf="reservations.length === 0" class="text-center">
    No hay reservas.
  </div>

  <div *ngIf="reservations.length > 0" class="flex flex-col gap-4">
    <!-- Tabla para pantallas medianas y grandes -->
    <div class="hidden xl:block">
      <p-table
        [value]="filteredReservations"
        [sortMode]="'multiple'"
        styleClass="p-datatable-striped"
      >
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="boardGameId.mainPhoto">Imagen</th>
            <th pSortableColumn="boardGameId.title">
              <div class="flex items-center justify-center">
                Título del Juego
                <p-sortIcon field="boardGameId.title" class="ml-2"></p-sortIcon>
              </div>
            </th>
            <th pSortableColumn="code">
              <div class="flex items-center justify-center">
                Código
                <p-sortIcon field="code" class="ml-2"></p-sortIcon>
              </div>
            </th>
            <th pSortableColumn="userId.username">
              <div class="flex items-center justify-center">
                Usuario
                <p-sortIcon field="userId.username" class="ml-2"></p-sortIcon>
              </div>
            </th>
            <th pSortableColumn="reservationDate">
              <div class="flex items-center justify-center">
                Fecha de Reserva
                <p-sortIcon field="reservationDate" class="ml-2"></p-sortIcon>
              </div>
            </th>
            <th pSortableColumn="expirationDate">
              <div class="flex items-center justify-center">
                Fecha de Expiración
                <p-sortIcon field="expirationDate" class="ml-2"></p-sortIcon>
              </div>
            </th>
            <th pSortableColumn="returnDate">
              <div class="flex items-center justify-center">
                Fecha de Devolución
                <p-sortIcon field="returnDate" class="ml-2"></p-sortIcon>
              </div>
            </th>
            <th pSortableColumn="status">
              <div class="flex items-center justify-center">
                Estado
                <p-sortIcon field="status" class="ml-2"></p-sortIcon>
              </div>
            </th>
            <th>Acciones</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-reservation>
          <tr>
            <td>
              <img
                [src]="
                  reservation.boardGameId?.mainPhoto ||
                  'assets/images/nophoto.jpg'
                "
                alt="Imagen del juego"
                class="h-16 w-16 rounded object-cover"
              />
            </td>
            <td>
              {{ reservation.boardGameId?.title || "Juego no disponible" }}
            </td>
            <td>
              <span
                class="rounded-md bg-indigo-100 p-2 text-sm font-semibold text-primary"
                >{{ reservation.code }}</span
              >
            </td>
            <td>
              <span
                class="rounded-md bg-rose-100 p-2 text-sm font-semibold text-rose-500"
                >{{
                  reservation.userId?.username || "Usuario no disponible"
                }}</span
              >
            </td>
            <td>{{ reservation.reservationDate | date: "dd/MM/yyyy" }}</td>
            <td>
              {{
                reservation.expirationDate
                  ? (reservation.expirationDate | date: "dd/MM/yyyy")
                  : "-"
              }}
            </td>
            <td>
              {{
                reservation.returnDate
                  ? (reservation.returnDate | date: "dd/MM/yyyy")
                  : "-"
              }}
            </td>
            <td>
              <p>
                <span
                  [ngClass]="{
                    'bg-blue-100 text-blue-600':
                      reservation.status === 'Accepted',
                    'bg-yellow-100 text-yellow-600':
                      reservation.status === 'Pending',
                    'bg-red-100 text-red-600':
                      reservation.status === 'Rejected',
                    'bg-purple-100 text-purple-600':
                      reservation.status === 'Picked Up',
                    'bg-green-100 text-green-600':
                      reservation.status === 'Completed',
                    'bg-orange-100 text-orange-700':
                      reservation.status === 'Cancelled',
                    'bg-gray-300 text-gray-700':
                      reservation.status === 'Expired'
                  }"
                  class="rounded-md p-1 text-sm font-bold"
                >
                  {{ getStatusInSpanish(reservation.status) }}
                </span>
              </p>

              <p
                *ngIf="reservation.status === 'Rejected'"
                class="text-sm text-red-600"
              >
                <strong>Mensaje de rechazo:</strong>
                {{ reservation.rejectionMessage }}
              </p>
            </td>
            <td>
              <div *ngIf="reservation.status === 'Pending'">
                <button
                  pButton
                  type="button"
                  icon="pi pi-check"
                  label="Aprobar"
                  class="p-button-success mb-1 w-full"
                  (click)="acceptReservation(reservation._id)"
                ></button>
                <button
                  pButton
                  type="button"
                  icon="pi pi-times"
                  label="Rechazar"
                  class="p-button-danger mb-1 w-full"
                  (click)="openRejectModal(reservation._id)"
                ></button>
              </div>
              <div *ngIf="reservation.status === 'Accepted'">
                <button
                  pButton
                  type="button"
                  icon="pi pi-shopping-cart"
                  label="Recoger"
                  class="p-button mb-1 w-full"
                  (click)="markAsPickedUp(reservation._id)"
                ></button>
              </div>
              <div
                *ngIf="
                  reservation.status === 'Picked Up' ||
                  reservation.status === 'Expired'
                "
              >
                <button
                  pButton
                  type="button"
                  icon="pi pi-check"
                  label="Completar"
                  class="p-button-info mb-1 w-full"
                  (click)="markAsCompleted(reservation._id)"
                ></button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <!-- Tarjetas para pantallas pequeñas -->
    <div *ngIf="reservations.length > 0" class="flex flex-col gap-2">
      <div class="block xl:hidden">
        <ng-container *ngFor="let reservation of filteredReservations">
          <div
            class="mb-4 flex flex-col rounded-lg border bg-gray-50 p-2 shadow-sm"
          >
            <div class="flex items-center gap-4">
              <img
                [src]="
                  reservation.boardGameId.mainPhoto ||
                  'assets/images/nophoto.jpg'
                "
                alt="Imagen del juego"
                class="h-24 w-24 rounded object-cover"
              />
              <div class="flex flex-1 flex-col justify-between">
                <div>
                  <div class="flex items-center gap-4">
                    <h3 class="text-lg font-bold">
                      {{
                        reservation.boardGameId.title || "Juego no disponible"
                      }}
                    </h3>
                    <div>
                      <span
                        class="inline-block rounded-md bg-indigo-100 p-1 px-2 text-sm font-semibold text-primary"
                      >
                        {{ reservation.code }}
                      </span>
                    </div>
                  </div>
                  <div>
                    <span
                      [ngClass]="{
                        'bg-blue-100 text-blue-600':
                          reservation.status === 'Accepted',
                        'bg-yellow-100 text-yellow-600':
                          reservation.status === 'Pending',
                        'bg-red-100 text-red-600':
                          reservation.status === 'Rejected',
                        'bg-purple-100 text-purple-600':
                          reservation.status === 'Picked Up',
                        'bg-green-100 text-green-600':
                          reservation.status === 'Completed',
                        'bg-orange-100 text-orange-700':
                          reservation.status === 'Cancelled',
                        'bg-gray-300 text-gray-700':
                          reservation.status === 'Expired'
                      }"
                      class="rounded-md p-1 text-sm font-bold"
                    >
                      {{ getStatusInSpanish(reservation.status) }}
                    </span>
                  </div>
                  <p
                    *ngIf="reservation.status === 'Rejected'"
                    class="text-sm text-red-600"
                  >
                    <strong>Mensaje de rechazo:</strong>
                    {{ reservation.rejectionMessage }}
                  </p>
                  <p class="text-sm text-slate-700">
                    <strong>Fecha de Reserva:</strong>
                    {{ reservation.reservationDate | date: "dd/MM/yyyy" }}
                  </p>
                  <p
                    *ngIf="reservation.expirationDate"
                    class="text-sm text-red-600"
                  >
                    <strong>Fecha de Expiración:</strong>
                    {{ reservation.expirationDate | date: "dd/MM/yyyy" }}
                  </p>
                  <p
                    *ngIf="reservation.returnDate"
                    class="text-sm text-green-600"
                  >
                    <strong>Fecha de Devolución:</strong>
                    {{ reservation.returnDate | date: "dd/MM/yyyy" }}
                  </p>
                </div>
                <div class="mt-2 flex flex-row justify-between sm:mt-0">
                  <div>
                    <div
                      *ngIf="reservation.status === 'Pending'"
                      class="flex gap-4"
                    >
                      <button
                        pButton
                        type="button"
                        icon="pi pi-check"
                        label="Aprobar"
                        class="p-button-success text-sm"
                        (click)="acceptReservation(reservation._id)"
                      ></button>
                      <button
                        pButton
                        type="button"
                        icon="pi pi-times"
                        label="Rechazar"
                        class="p-button-danger text-sm"
                        (click)="openRejectModal(reservation._id)"
                      ></button>
                    </div>
                    <div *ngIf="reservation.status === 'Accepted'">
                      <button
                        pButton
                        type="button"
                        icon="pi pi-shopping-cart"
                        label="Recoger"
                        class="p-button text-sm"
                        (click)="markAsPickedUp(reservation._id)"
                      ></button>
                    </div>
                    <div
                      *ngIf="
                        reservation.status === 'Picked Up' ||
                        reservation.status === 'Expired'
                      "
                    >
                      <button
                        pButton
                        type="button"
                        icon="pi pi-check"
                        label="Completar"
                        class="p-button-info text-sm"
                        (click)="markAsCompleted(reservation._id)"
                      ></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>

      <p-dialog
        header="Rechazar Reserva"
        [(visible)]="displayRejectModal"
        [modal]="true"
        [closable]="false"
        [style]="{ width: '90vw' }"
      >
        <div class="p-fluid">
          <div class="p-field">
            <label
              for="rejectionMessage"
              class="block py-2 text-sm font-medium text-gray-700"
            >
              Motivo del Rechazo
            </label>
            <textarea
              id="rejectionMessage"
              [(ngModel)]="rejectionMessage"
              rows="5"
              pInputTextarea
            ></textarea>
          </div>
        </div>
        <p-footer class="flex justify-center gap-4">
          <button
            pButton
            type="button"
            label="Cancelar"
            icon="pi pi-times"
            (click)="displayRejectModal = false"
            class="p-button"
          ></button>
          <button
            pButton
            type="button"
            label="Rechazar"
            icon="pi pi-check"
            (click)="rejectReservation()"
            class="p-button-danger"
          ></button>
        </p-footer>
      </p-dialog>

      <div class="flex justify-center">
        <p-paginator
          [rows]="pageSize"
          [totalRecords]="totalRecords"
          [first]="(currentPage - 1) * pageSize"
          (onPageChange)="paginate($event)"
          styleClass="custom-paginator"
        ></p-paginator>
      </div>
      <p-toast></p-toast>
    </div>
  </div>
</div>
<app-footer />
