<app-layout></app-layout>

<div *ngIf="isLoading" class="flex h-64 items-center justify-center">
  <p-progressSpinner></p-progressSpinner>
</div>

<div *ngIf="!isLoading" class="container mx-auto">
  <h2 class="mb-6 text-center text-2xl font-bold">
    Administración de Reservas
  </h2>

  <div *ngIf="reservations.length === 0" class="text-center">
    No hay reservas.
  </div>

  <div *ngIf="reservations.length > 0" class="overflow-x-auto">
    <table class="min-w-full bg-white">
      <thead>
        <tr>
          <th class="border-b px-4 py-2">Imagen</th>
          <th class="border-b px-4 py-2">Título del Juego</th>
          <th class="border-b px-4 py-2">Código</th>
          <th class="border-b px-4 py-2">Fecha de Reserva</th>
          <th class="border-b px-4 py-2">Fecha de Expiración</th>
          <th class="border-b px-4 py-2">Fecha de Devolución</th>
          <th class="border-b px-4 py-2">Estado</th>
          <th class="border-b px-4 py-2">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reservation of reservations">
          <td class="border-b px-4 py-2">
            <img
              [src]="
                reservation.boardGameId.mainPhoto || 'assets/images/nophoto.jpg'
              "
              alt="Imagen del juego"
              class="h-16 w-16 rounded object-cover"
            />
          </td>
          <td class="border-b px-4 py-2">
            {{ reservation.boardGameId.title || "Juego no disponible" }}
          </td>
          <td class="border-b px-4 py-2">{{ reservation.code }}</td>
          <td class="border-b px-4 py-2">
            {{ reservation.reservationDate | date: "dd/MM/yyyy" }}
          </td>
          <td class="border-b px-4 py-2">
            {{
              reservation.expirationDate
                ? (reservation.expirationDate | date: "dd/MM/yyyy")
                : "-"
            }}
          </td>
          <td class="border-b px-4 py-2">
            {{
              reservation.returnDate
                ? (reservation.returnDate | date: "dd/MM/yyyy")
                : "-"
            }}
          </td>
          <td class="border-b px-4 py-2">
            <p>
              <span
                [ngClass]="{
                  'bg-blue-100 text-blue-600':
                    reservation.status === 'Accepted',
                  'bg-yellow-100 text-yellow-600':
                    reservation.status === 'Pending',
                  'bg-red-100 text-red-600': reservation.status === 'Rejected',
                  'bg-purple-100 text-purple-600':
                    reservation.status === 'Picked Up',
                  'bg-green-100 text-green-600':
                    reservation.status === 'Completed',
                  'bg-orange-100 text-orange-700':
                    reservation.status === 'Cancelled',
                  'bg-gray-300 text-gray-700': reservation.status === 'Expired'
                }"
                class="rounded-md p-2 font-bold"
              >
                {{ reservation.status }}
              </span>
            </p>
          </td>
          <td class="border-b px-4 py-2">
            <div *ngIf="reservation.status === 'Pending'">
              <button
                pButton
                type="button"
                icon="pi pi-check"
                label="Aprobar"
                class="p-button-success mb-1 w-full"
                (click)="acceptReservation(reservation._id)"
              ></button>
              <button
                pButton
                type="button"
                icon="pi pi-times"
                label="Rechazar"
                class="p-button-danger mb-1 w-full"
                (click)="rejectReservation(reservation._id)"
              ></button>
            </div>
            <div *ngIf="reservation.status === 'Accepted'">
              <button
                pButton
                type="button"
                icon="pi pi-shopping-cart"
                label="Recoger"
                class="p-button mb-1 w-full"
                (click)="markAsPickedUp(reservation._id)"
              ></button>
            </div>
            <div
              *ngIf="
                reservation.status === 'Picked Up' ||
                reservation.status === 'Expired'
              "
            >
              <button
                pButton
                type="button"
                icon="pi pi-check"
                label="Completar"
                class="p-button-info mb-1 w-full"
                (click)="markAsCompleted(reservation._id)"
              ></button>
            </div>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="8" class="border-t px-4 py-2">
            <p-paginator
              [rows]="pageSize"
              [totalRecords]="totalRecords"
              [first]="(currentPage - 1) * pageSize"
              (onPageChange)="paginate($event)"
              styleClass="custom-paginator"
            ></p-paginator>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>

  <p-toast></p-toast>
</div>
