<div class="container mx-auto flex h-screen items-center justify-center">
  <div *ngIf="loading; else content" class="text-center">
    <p-progressSpinner></p-progressSpinner>
  </div>
  <ng-template #content>
    <div
      *ngIf="confirmSuccess; else confirmError"
      class="rounded-lg bg-green-200 p-6"
    >
      <h2 class="mb-4 text-2xl font-bold">¡Cuenta confirmada exitosamente!</h2>
      <p class="text-lg">Ahora puedes iniciar sesión.</p>
      <button
        class="mt-4 rounded bg-blue-500 px-4 py-2 font-bold text-white hover:bg-blue-700"
        routerLink="/login"
      >
        Ir a Iniciar sesión
      </button>
    </div>
    <ng-template #confirmError>
      <div class="rounded-lg bg-red-200 p-6">
        <h2 class="mb-4 text-2xl font-bold">
          ¡Ha ocurrido un error al confirmar la cuenta!
        </h2>
        <p class="text-lg">Por favor, inténtalo de nuevo más tarde.</p>
      </div>
    </ng-template>
  </ng-template>
</div>
