<div
  class="flex min-h-screen flex-col items-center justify-center bg-gray-900 text-white"
>
  <div class="px-4 py-8 text-center">
    <h1 class="text-4xl font-bold sm:text-5xl md:text-6xl lg:text-7xl">
      Registrarse
    </h1>
    <p class="mt-4 text-lg">
      Crea una cuenta para acceder a todos nuestros servicios
    </p>
  </div>
  <div class="mt-8 w-full max-w-md px-4">
    <form [formGroup]="registerForm" (ngSubmit)="register()" class="space-y-6">
      <div>
        <label for="email" class="block text-sm font-medium text-gray-200">
          Correo electrónico
        </label>
        <input
          type="email"
          formControlName="email"
          id="email"
          class="mt-1 block w-full rounded-md border border-gray-300 px-3 py-2 placeholder-gray-500 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
          required
        />
        <div
          *ngIf="
            registerForm.get('email')?.errors &&
            (registerForm.get('email')?.touched ||
              registerForm.get('email')?.dirty)
          "
          class="mt-1 text-xs text-red-500"
        >
          <span *ngIf="registerForm.get('email')?.errors?.['required']">
            El correo electrónico es requerido.
          </span>
          <span *ngIf="registerForm.get('email')?.errors?.['email']">
            Ingrese un correo electrónico válido.
          </span>
        </div>
      </div>
      <div>
        <label for="username" class="block text-sm font-medium text-gray-200">
          Nombre de usuario
        </label>
        <input
          type="text"
          formControlName="username"
          id="username"
          class="mt-1 block w-full rounded-md border border-gray-300 px-3 py-2 placeholder-gray-500 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
          required
        />
        <div
          *ngIf="
            registerForm.get('username')?.errors &&
            (registerForm.get('username')?.touched ||
              registerForm.get('username')?.dirty)
          "
          class="mt-1 text-xs text-red-500"
        >
          <span *ngIf="registerForm.get('username')?.errors?.['required']">
            El nombre de usuario es requerido.
          </span>
          <span *ngIf="registerForm.get('username')?.errors?.['minlength']">
            El nombre de usuario debe tener al menos 5 caracteres.
          </span>
        </div>
      </div>
      <div>
        <label for="password" class="block text-sm font-medium text-gray-200">
          Contraseña
        </label>
        <input
          type="password"
          formControlName="password"
          id="password"
          class="mt-1 block w-full rounded-md border border-gray-300 px-3 py-2 placeholder-gray-500 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
          required
        />
        <div
          *ngIf="
            registerForm.get('password')?.errors &&
            (registerForm.get('password')?.touched ||
              registerForm.get('password')?.dirty)
          "
          class="mt-1 text-xs text-red-500"
        >
          <span *ngIf="registerForm.get('password')?.errors?.['required']">
            La contraseña es requerida.
          </span>
          <span *ngIf="registerForm.get('password')?.errors?.['minlength']">
            La contraseña debe tener al menos 8 caracteres.
          </span>
          <span *ngIf="registerForm.get('password')?.errors?.['pattern']">
            La contraseña debe contener al menos una letra mayúscula.
          </span>
        </div>
      </div>
      <div>
        <label
          for="validatePassword"
          class="block text-sm font-medium text-gray-200"
        >
          Confirmar Contraseña
        </label>
        <input
          type="password"
          formControlName="validatePassword"
          id="validatePassword"
          class="mt-1 block w-full rounded-md border border-gray-300 px-3 py-2 placeholder-gray-500 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
          required
        />
        <div
          *ngIf="
            registerForm.hasError('passwordMismatch') &&
            registerForm.get('validatePassword')?.touched
          "
          class="mt-1 text-xs text-red-500"
        >
          <span>Las contraseñas no coinciden.</span>
        </div>
      </div>
      <div>
        <label for="birthDate" class="block text-sm font-medium text-gray-200">
          Fecha de nacimiento
        </label>
        <input
          type="date"
          formControlName="birthDate"
          id="birthDate"
          class="mt-1 block w-full rounded-md border border-gray-300 px-3 py-2 placeholder-gray-500 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
          required
        />
        <div
          *ngIf="
            registerForm.get('birthDate')?.errors &&
            (registerForm.get('birthDate')?.touched ||
              registerForm.get('birthDate')?.dirty)
          "
          class="mt-1 text-xs text-red-500"
        >
          <span *ngIf="registerForm.get('birthDate')?.errors?.['required']">
            La fecha de nacimiento es requerida.
          </span>
        </div>
      </div>
      <div>
        <label for="sex" class="block text-sm font-medium text-gray-200">
          Sexo
        </label>
        <select
          formControlName="sex"
          id="sex"
          class="mt-1 block w-full rounded-md border border-gray-300 px-3 py-2 placeholder-gray-500 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
          required
        >
          <option value="" disabled>Seleccione una opción</option>
          <option value="M">Masculino</option>
          <option value="F">Femenino</option>
          <option value="Otro">Otro</option>
        </select>
        <div
          *ngIf="
            registerForm.get('sex')?.errors &&
            (registerForm.get('sex')?.touched || registerForm.get('sex')?.dirty)
          "
          class="mt-1 text-xs text-red-500"
        >
          <span *ngIf="registerForm.get('sex')?.errors?.['required']">
            El sexo es requerido.
          </span>
        </div>
      </div>
      <button
        type="submit"
        [disabled]="!registerForm.valid"
        class="flex w-full justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
      >
        Registrarse
      </button>
    </form>
    <p class="mt-4 text-center text-sm">
      ¿Ya tienes una cuenta?
      <a routerLink="/login" class="text-blue-300 hover:underline">
        Iniciar sesión
      </a>
    </p>
  </div>
</div>
