<app-layout></app-layout>

<div class="container mx-auto flex min-h-screen-minus-62 flex-col py-4">
  <div class="flex flex-grow flex-col justify-between px-4 lg:px-0">
    <div class="flex items-center justify-between">
      <h2 class="mb-6 text-center text-2xl font-bold uppercase text-slate-700">
        Mis Reservas
      </h2>
      <app-filter-reservations
        (filter)="applyFilter($event)"
      ></app-filter-reservations>
    </div>

    <div *ngIf="isLoading" class="flex justify-center">
      <p-progressSpinner></p-progressSpinner>
    </div>

    <div *ngIf="!isLoading && reservations.length === 0" class="text-center">
      No tienes reservas.
    </div>

    <div
      *ngIf="!isLoading && paginatedReservations.length > 0"
      class="flex-grow"
    >
      <div class="grid grid-cols-1 gap-8 xl:grid-cols-2">
        <div
          *ngFor="let reservation of paginatedReservations"
          class="flex items-center gap-4 rounded bg-gray-100 p-4 shadow"
        >
          <img
            [src]="
              reservation.boardGameId.mainPhoto || 'assets/images/nophoto.jpg'
            "
            alt="Boardgame image"
            class="h-20 w-20 rounded object-cover"
          />
          <div class="flex flex-grow flex-col gap-2">
            <span class="text-xl font-semibold text-slate-600">{{
              reservation.boardGameId.title
            }}</span>
            <span
              ><strong>Fecha de reserva:</strong>
              {{ reservation.reservationDate | date: "dd/MM/yyyy" }}</span
            >
            <span
              [ngClass]="{
                'text-green-600': reservation.status === 'Completed',
                'text-violet-600': reservation.status === 'Picked Up'
              }"
            >
              <strong
                >{{
                  reservation.status === "Completed"
                    ? "Devolución"
                    : "Fecha de devolución"
                }}:</strong
              >
              {{ reservation.returnDate | date: "dd/MM/yyyy" }}
            </span>

            <span
              *ngIf="reservation.status === 'Rejected'"
              class="text-red-600"
            >
              <strong>Mensaje de rechazo: </strong>
              {{ reservation.rejectionMessage }}
            </span>
            <span *ngIf="reservation.status === 'Expired'" class="text-red-700">
              <strong>Fecha de expiración:</strong>
              {{ reservation.expirationDate | date: "dd/MM/yyyy" }}
            </span>
            <p>
              <span
                [ngClass]="{
                  'bg-blue-100 text-blue-600':
                    reservation.status === 'Accepted',
                  'bg-yellow-100 text-yellow-600':
                    reservation.status === 'Pending',
                  'bg-red-100 text-red-600': reservation.status === 'Rejected',
                  'bg-purple-100 text-purple-600':
                    reservation.status === 'Picked Up',
                  'bg-green-100 text-green-600':
                    reservation.status === 'Completed',
                  'bg-orange-100 text-orange-700':
                    reservation.status === 'Cancelled',
                  'bg-gray-300 text-gray-700': reservation.status === 'Expired'
                }"
                class="rounded-md p-2 font-bold"
              >
                {{ reservation.status }}
              </span>
            </p>
          </div>
          <div *ngIf="reservation.status === 'Pending'" class="ml-auto">
            <button
              pButton
              icon="pi pi-times"
              type="button"
              label="Cancelar"
              class="p-button-danger font-semibold"
              (click)="cancelReservation(reservation._id)"
            ></button>
          </div>
          <div *ngIf="reservation.status === 'Completed'" class="ml-auto">
            <span
              *ngIf="reviewsMap[reservation.boardGameId._id]"
              class="rounded-md bg-blue-100 p-2 font-semibold text-blue-500"
              ><i class="pi pi-check mr-2"></i>Reseña</span
            >
            <button
              *ngIf="!reviewsMap[reservation.boardGameId._id]"
              pButton
              icon="pi pi-plus"
              type="button"
              label="Reseñar"
              class="p-button font-semibold"
              [routerLink]="['/create-review', reservation.boardGameId._id]"
            ></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Paginador siempre al final de la página -->
  <div class="mt-4 flex w-full justify-center">
    <p-paginator
      [rows]="pageSize"
      [totalRecords]="totalRecords"
      [rowsPerPageOptions]="[20, 50, 100]"
      (onPageChange)="paginate($event)"
      class="transparent-paginator"
    ></p-paginator>
  </div>
</div>

<p-toast></p-toast>
