<app-layout></app-layout>

<div class="min-h-screen-minus-62 container mx-auto flex-col">
  <h2 class="mb-8 text-center text-3xl font-bold text-gray-800">
    Mis Favoritos
  </h2>

  <div *ngIf="isLoading" class="flex h-64 items-center justify-center">
    <p-progressSpinner></p-progressSpinner>
  </div>

  <div *ngIf="!isLoading && error" class="text-center text-red-500">
    {{ error }}
  </div>

  <div
    *ngIf="!isLoading && !error && favorites.length === 0"
    class="text-center text-gray-700"
  >
    No tienes juegos favoritos.
  </div>

  <div
    *ngIf="!isLoading && !error && paginatedFavorites.length > 0"
    class="grid grid-cols-2 gap-8 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5"
  >
    <div
      *ngFor="let game of paginatedFavorites"
      class="flex flex-col items-center rounded-lg bg-gray-100 p-4 shadow-lg transition-shadow duration-300 ease-in-out hover:shadow-xl"
    >
      <img
        [src]="game.mainPhoto || 'assets/images/nophoto.jpg'"
        alt="Imagen del juego"
        class="mb-4 h-32 w-32 rounded-md object-cover"
      />
      <h3 class="mb-2 text-center text-xl font-semibold text-gray-800">
        {{ game.title }}
      </h3>
      <div class="mt-2 flex w-full justify-around gap-2">
        <button
          pButton
          type="button"
          icon="pi pi-eye"
          label="Ver"
          class="p-button p-button-sm p-button-primary rounded-md"
          [routerLink]="['/game', game._id]"
        ></button>
        <button
          pButton
          type="button"
          icon="pi pi-trash"
          label="Eliminar"
          class="p-button-danger p-button-sm p-button-danger rounded-md"
          (click)="removeFromFavorites(game._id, $event)"
        ></button>
      </div>
    </div>
  </div>
</div>

<div class="mt-8">
  <p-paginator
    [rows]="pageSize"
    [totalRecords]="totalRecords"
    (onPageChange)="paginate($event)"
    [rowsPerPageOptions]="[20, 50, 100]"
    class="mt-4"
  ></p-paginator>
</div>
<p-toast></p-toast>
<app-footer />
