<app-layout></app-layout>

<div class="container mx-auto">
  <h2 class="mb-6 text-center text-2xl font-bold">Mis Favoritos</h2>

  <div *ngIf="isLoading" class="flex h-64 items-center justify-center">
    <p-progressSpinner></p-progressSpinner>
  </div>

  <div *ngIf="!isLoading && error" class="text-center text-red-500">
    {{ error }}
  </div>

  <div
    *ngIf="!isLoading && !error && favorites.length === 0"
    class="text-center"
  >
    No tienes juegos favoritos.
  </div>

  <div
    *ngIf="!isLoading && !error && paginatedFavorites.length > 0"
    class="grid grid-cols-2 gap-8 px-6 md:grid-cols-3 lg:grid-cols-5"
  >
    <div
      *ngFor="let game of paginatedFavorites"
      class="flex flex-col items-center rounded-md bg-gray-100 p-4 shadow"
    >
      <img
        [src]="game.mainPhoto"
        alt="Imagen del juego"
        class="mb-2 h-32 w-full rounded-md object-cover"
      />
      <h3 class="text-center text-lg font-semibold text-gray-700">
        {{ game.title }}
      </h3>
      <div class="flex gap-4">
        <button
          pButton
          type="button"
          icon="pi pi-eye"
          class="p-button rounded-full"
          [routerLink]="['/game', game._id]"
        ></button>
        <button
          pButton
          type="button"
          icon="pi pi-trash"
          class="p-button-danger rounded-full"
          (click)="removeFromFavorites(game._id, $event)"
        ></button>
      </div>
    </div>
  </div>
</div>

<div class="mt-8">
  <p-paginator
    [rows]="pageSize"
    [totalRecords]="totalRecords"
    (onPageChange)="paginate($event)"
    [rowsPerPageOptions]="[20, 50, 100]"
    class="mt-4"
  ></p-paginator>
</div>
