<app-layout></app-layout>

<div class="flex flex-col w-full min-h-screen">
  <div class="flex flex-col flex-grow w-full gap-8">
    <div class="flex justify-between w-full px-8 mt-4">
      <h1>Juegos de mesa</h1>
      <div class="flex items-center gap-4">
        <app-filter (filter)="handleFilter($event)"></app-filter>

        <app-search-bar
          (search)="handleSearch($event)"
          searchField="title"
        ></app-search-bar>
      </div>
    </div>

    <!-- Revisa si hay juegos de mesa disponibles -->
    <div
      *ngIf="
        !isLoading && filteredBoardgames.length > 0;
        else noResultsOrLoading
      "
      class="flex flex-col justify-start flex-grow w-full px-8"
    >
      <!-- Contenedor de la cuadrícula -->
      <div
        class="grid w-full grid-cols-1 gap-8 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5"
      >
        <!-- Itera sobre cada juego de mesa -->
        <div
          *ngFor="let boardgame of paginatedBoardgames"
          class="flex flex-col items-center justify-center w-full bg-white rounded shadow"
        >
          <!-- Contenedor para la foto con altura fija -->
          <div
            class="flex items-center justify-center w-full overflow-hidden rounded h-54"
          >
            <img
              src="{{ boardgame.mainPhoto }}"
              alt="Boardgame image"
              class="object-cover w-32 h-32 pt-4 rounded"
            />
          </div>
          <h3 class="mt-4 font-bold">{{ boardgame.title }}</h3>
        </div>
      </div>
    </div>

    <!-- Espacio flexible para empujar el paginador al final -->
    <div class="flex-grow"></div>

    <!-- Paginador al final de la página -->
    <div class="flex justify-center w-full">
      <p-paginator
        [rows]="pageSize"
        [totalRecords]="totalRecords"
        (onPageChange)="paginate($event)"
        class="mt-4 transparent-paginator"
      ></p-paginator>
    </div>
  </div>
</div>

<ng-template #noResultsOrLoading>
  <div
    *ngIf="isLoading; else showNoResults"
    class="flex items-center justify-center w-full h-full"
  >
    <p-progressSpinner ariaLabel="loading"></p-progressSpinner>
  </div>
  <ng-template #showNoResults>
    <div *ngIf="noResults" class="text-center">No results found.</div>
  </ng-template>
</ng-template>
