<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="max-w-md mx-auto">
    <div class="mb-4">
      <label for="email" class="block text-gray-700">Email:</label>
      <input type="email" id="email" formControlName="emailOrUsername"
             class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
      <div *ngIf="loginForm.get('emailOrUsername')?.errors?.['required'] && loginForm.get('emailOrUsername')?.touched"
           class="text-red-500 text-sm mt-1">Email is required
      </div>
      <div *ngIf="loginForm.get('emailOrUsername')?.errors?.['email'] && loginForm.get('emailOrUsername')?.touched"
           class="text-red-500 text-sm mt-1">Please enter a valid email
      </div>
    </div>
    <div class="mb-4">
      <label for="password" class="block text-gray-700">Password:</label>
      <input type="password" id="password" formControlName="password"
             class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
      <div *ngIf="loginForm.get('password')?.errors?.['required'] && loginForm.get('password')?.touched"
           class="text-red-500 text-sm mt-1">Password is required
      </div>
    </div>
    <button type="submit" [disabled]="loginForm.invalid"
            class="w-full px-4 py-2 bg-indigo-500 text-white rounded-md focus:outline-none focus:bg-indigo-600">Login
    </button>
    <div class="mt-4 text-center">
      <a routerLink="/register" class="text-indigo-600 hover:text-indigo-800">Don't have an account? Register here</a>
    </div>
    <div *ngIf="errorMessage" class="text-red-500 text-sm mt-2">
      {{ errorMessage }}
    </div>
  </form>
  