<div class="flex items-center">
  <p-dropdown
    [options]="filterOptions"
    [(ngModel)]="selectedFilter"
    placeholder="Selecciona un filtro"
    (onChange)="applyFilter()"
    dropdownIcon="pi pi-chevron-down"
  >
    <!-- Template para las opciones del dropdown -->
    <ng-template let-option pTemplate="item">
      <div class="flex items-center">
        <span>{{ option.label }}</span>
      </div>
    </ng-template>

    <!-- Template para el elemento seleccionado -->
    <ng-template let-option pTemplate="selectedItem">
      <div class="flex items-center">
        <span class="mr-2 pi pi-filter"></span>
        <span>{{ option.label }}</span>
      </div>
    </ng-template>
  </p-dropdown>
</div>
