<div class="flex items-center">
  <p-dropdown
    [options]="filterOptions"
    [(ngModel)]="selectedFilter"
    placeholder="Selecciona un filtro"
    (onChange)="applyFilter()"
    dropdownIcon="pi pi-chevron-down"
  >
    <!-- Template para las opciones del dropdown -->
    <ng-template let-option pTemplate="item">
      <div class="flex items-center">
        <i [class]="option.icon"></i>
        <span class="ml-2">{{ option?.label }}</span>
      </div>
    </ng-template>

    <!-- Template para el elemento seleccionado -->
    <ng-template let-selectedOption pTemplate="selectedItem">
      <div class="flex items-center">
        <i [class]="selectedOption?.icon"></i>
        <span class="ml-2">{{ selectedOption?.label }}</span>
      </div>
    </ng-template>
  </p-dropdown>
</div>
