<p-menubar [model]="items">
  <ng-template pTemplate="start">
    <div class="mr-2 flex items-center lg:mr-0">
      <button
        *ngIf="showBackButton()"
        pButton
        icon="pi pi-arrow-left"
        class="mr-2"
        (click)="goBack()"
        class="border-none bg-transparent text-black hover:bg-indigo-500 hover:text-white"
      ></button>
    </div>
  </ng-template>

  <ng-template pTemplate="end">
    <div class="flex-end flex items-center gap-2">
      <img
        *ngIf="user?.photo"
        [src]="user?.photo"
        class="user-photo mx-2 h-8 w-8 rounded-full"
        alt="User Photo"
      />
      <span *ngIf="user" class="user-name">{{ user.username }}</span>
      <p-menu #menu [model]="dropdownItems" [popup]="true">
        <ng-template let-item pTemplate="item">
          <div *ngIf="item.icon === 'pi pi-sign-out'" class="h-px w-full"></div>
          <li
            *ngIf="!item.command"
            [routerLink]="item.routerLink"
            [ngClass]="
              item.icon === 'pi pi-sign-out' ? 'text-red-500' : 'text-black'
            "
            class="flex items-center gap-2 hover:bg-transparent"
          >
            <i [ngClass]="item.icon" class="p-3"></i>
            {{ item.label }}
          </li>
          <li
            *ngIf="item.command"
            (click)="item.command()"
            [ngClass]="
              item.icon === 'pi pi-sign-out' ? 'text-red-500' : 'text-black'
            "
            class="flex items-center gap-2 hover:bg-transparent"
          >
            <i [ngClass]="item.icon" class="p-3"></i>
            {{ item.label }}
          </li>
        </ng-template>
      </p-menu>
      <button
        pButton
        type="button"
        (click)="menu.toggle($event)"
        icon="pi pi-ellipsis-v"
        class="border-none bg-transparent text-black"
      ></button>
    </div>
  </ng-template>
</p-menubar>
