<div class="container mx-auto max-w-md mt-8">
  <h2 class="text-2xl font-bold mb-4">Reset Password</h2>
  <form
    [formGroup]="resetPasswordForm"
    (ngSubmit)="onSubmit()"
    class="space-y-4"
  >
    <div>
      <label for="newPassword" class="block text-sm font-medium text-gray-700"
        >New Password</label
      >
      <input
        type="password"
        formControlName="newPassword"
        id="newPassword"
        autocomplete="new-password"
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
      />
      <!-- Show error message only if the field is touched or dirty -->
      <div
        *ngIf="
          resetPasswordForm.get('newPassword')?.touched &&
          resetPasswordForm.get('newPassword')?.errors?.['required']
        "
        class="text-red-500 text-xs mt-1"
      >
        La constraseña es requerida
      </div>
      <div
        *ngIf="
          resetPasswordForm.get('newPassword')?.touched &&
          resetPasswordForm.get('newPassword')?.errors?.['minlength']
        "
        class="text-red-500 text-xs mt-1"
      >
        La contraseña debe tener una longitud mínima de 8 caracteres
      </div>
    </div>
    <div>
      <label
        for="confirmPassword"
        class="block text-sm font-medium text-gray-700"
        >Confirm Password</label
      >
      <input
        type="password"
        formControlName="confirmPassword"
        id="confirmPassword"
        autocomplete="new-password"
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
      />
      <!-- Show error message only if the field is touched or dirty -->
      <div
        *ngIf="
          resetPasswordForm.get('confirmPassword')?.touched &&
          resetPasswordForm.get('confirmPassword')?.errors?.['required']
        "
        class="text-red-500 text-xs mt-1"
      >
        La contraseña de confirmación es requerida
      </div>
      <div
        *ngIf="
          resetPasswordForm.get('confirmPassword')?.touched &&
          resetPasswordForm.hasError('passwordMismatch')
        "
        class="text-red-500 text-xs mt-1"
      >
        Las contraseñas no coinciden
      </div>
    </div>
    <button
      type="submit"
      [disabled]="!resetPasswordForm.valid"
      class="w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
    >
      Reset Password
    </button>
  </form>
</div>
